/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700');

/*Variables*/
:root {
    /*weight*/
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /*size*/
    --font-size-enormous: calc((52 / 16) * 1rem);
    --font-size-bigger: calc((37 / 16) * 1rem);
    --font-size-big: calc((26 / 16) * 1rem);
    --font-size-medium: calc((22 / 16) * 1rem);
    --font-size-basic: calc((17 / 16) * 1rem);
    --font-size-small: calc((15 / 16) * 1rem);

    --letter-spacing-none: 0rem;
    --letter-spacing-small: calc((0.15 / 16) * 1rem);
    --letter-spacing-medium: calc((0.25 / 16) * 1rem);
    --letter-spacing-big: calc((0.5 / 16) * 1rem);

    /*line*/
    --base-line: calc((2 / 16) * 1rem) solid var(--border-primary-default);
    --thin-line: calc((1 / 16) * 1rem) solid var(--border-primary-default);

    /*transition*/
    --base-transition: all .2s cubic-bezier(0.4, 0, 0.4, 1);

    /*colors*/
    --content-primary-default: var(--yloria-01);
    --content-secondary-default: var(--yloria-03);
    --content-tertiary-default: var(--orbis-01);
    --content-quaternary-default: var(--yloria-02);
    --content-accent-default: var(--zenithar-01);
    --content-link-default: var(--novara-01);
    --content-link-hover: var(--novara-02);

    --background-primary-default: var(--orbis-01);
    --background-secondary-default: var(--orbis-02);
    --background-secondary-hover: var(--orbis-04);
    --background-success-default: var(--nexis-01);
    --background-accent-default: var(--zenithar-01);
    --background-accent-hover: var(--zenithar-02);

    --border-primary-default: var(--orbis-03);
    --border-secondary-default: var(--yloria-01);
    --border-accent-default: var(--zenithar-01);

    --overlay-primary-initial-default: var(--yloria-05);
    --overlay-primary-final-default: var(--yloria-06);

    --scroll-gutter-background: var(--yloria-04);
}

/* Scrollbar Styling*/
@supports (-webkit-appearance: none) {
    ::-webkit-scrollbar {
        width: 20px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--background-secondary-default);
    }

    ::-webkit-scrollbar-thumb {
        cursor: pointer;
        border-radius: 2rem;
        border: solid 4px var(--background-secondary-default);
        background: var(--content-secondary-default);
    }
}

@supports not (-webkit-appearance: none) {
    html {
        scrollbar-gutter: stable;
    }

    body {
        scrollbar-color: var(--content-secondary-default) var(--background-secondary-default);
    }
}

@supports (scrollbar-gutter: stable) {
    html {
        scrollbar-gutter: stable;
        background-color: var(--scroll-gutter-background);
    }

    body {
        scrollbar-color: var(--content-secondary-default) var(--background-secondary-default);
    }
}

/*color-schemes*/
[data-theme="light"] {
    /*lightmode-colors*/
    --yloria-01: #100F0F;
    --yloria-02: #444040;
    --yloria-03: #595454;
    --yloria-04: #403E3E;
    --yloria-05: rgb(16 15 15 /0%);
    --yloria-06: rgb(16 15 15 /80%);
    --orbis-01: #FFFAFB;
    --orbis-02: #F2E8EB;
    --orbis-03: #E0D2D6;
    --orbis-04: #D2C6C9;
    --novara-01: #214E83;
    --novara-02: #4184BE;
    --nexis-01: #0C612E;
    --zenithar-01: #971130;
    --zenithar-02: #7C0E27;
}

[data-theme="dark"] {
    /*darkmode-colors*/
    --yloria-01: #F0EFEF;
    --yloria-02: #BFBBBB;
    --yloria-03: #ABA6A6;
    --yloria-04: #6D686A;
    --yloria-05: rgb(240 239 239 /0%);
    --yloria-06: rgb(240 239 239 /40%);
    --orbis-01: #160D10;
    --orbis-02: #2D2023;
    --orbis-03: #392D30;
    --orbis-04: #6D686A;
    --novara-01: #89B2E1;
    --novara-02: #4783B8;
    --nexis-01: #A4EFC2;
    --zenithar-01: #F792A9;
    --zenithar-02: #F57A96;
}

/*Global properties*/
* {
    /*margin-reset*/
    -webkit-margin-before: 0rem;
            margin-block-start: 0rem;
    -webkit-margin-after: 0rem;
            margin-block-end: 0rem;
    -webkit-margin-start: 0rem;
            margin-inline-start: 0rem;
    -webkit-margin-end: 0rem;
            margin-inline-end: 0rem;

    /*font*/
    font-family: "Space Mono", monospace, "Geneva", Verdana, sans-serif;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus, *:focus-visible {
    border-radius: inherit;
    outline: var(--base-line);
    outline-color: var(--border-secondary-default);
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

body {
    position: relative;
    color: var(--content-primary-default);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2.5rem 5rem 0rem 5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    background: var(--background-primary-default);
}

.scroll-fixed {
    overflow: hidden;
}

a, button, label {
    outline: var(--base-line);
    outline-color: transparent;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
    -webkit-tap-highlight-color: transparent;
}

a, button {
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-style: inherit;
}

button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
}

/*Typefaces*/
.big-title {
    font-size: var(--font-size-enormous);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-none);
    line-height: 135%;
    font-style: normal;
}

.big-title-margin {
    margin: 2rem 0rem 1.5rem 0rem;
}

.basic-title {
    font-size: var(--font-size-bigger);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-medium);
    line-height: 135%;
    font-style: normal;
}

.basic-title-margin {
    margin: 2rem 0rem 1.5rem 0rem;
}

.small-title {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-none);
    line-height: 135%;
    font-style: normal;
}

.small-title-margin {
    margin: 1rem 0rem 0.5rem 0rem;
}

.big-subtitle {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-small);
    line-height: 135%;
    font-style: normal;
}

.big-subtitle-margin {
    margin: 2.5rem 0rem 0.5rem 0rem;
}

.basic-subtitle {
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-small);
    line-height: 150%;
    font-style: normal;
}

.basic-subtitle-margin {
    margin: 1rem 0rem 0.5rem 0rem;
}

.basic-paragraph {
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-big);
    line-height: 150%;
    font-style: normal;
}

.basic-paragraph-margin {
    margin: 0rem 0rem 1rem 0rem;
}


.small-paragraph {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-medium);
    line-height: 150%;
    font-style: normal;
}

h1, h2, h3, h4, h5, p {
    width: auto;
    max-width: 100%;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-style: inherit;
}

i, b {
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: inherit;
}

/*Switch*/
.theme-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 2rem;
    width: 4rem;
    border-radius: 2rem;
}

.theme-switch input {
    display:none;
}

.slider {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 2rem;
    width: 4rem;
    background-color: var(--background-accent-default);
    padding: 0rem 0.25rem 0rem 0.25rem;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
}

.slider:before {
    background-image: url('assets/light.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-primary-default);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
}

input:checked + .slider {
    background-color: var(--background-accent-default);
}

input:checked + .slider:before {
    background-image: url('assets/dark.png');
    -webkit-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
            transform: translateX(2rem);
}

.slider.round, .slider.round:before {
    border-radius: 2rem;
}

/*Link*/
.link {
    display: inline-block;
    border-radius: 0.25rem;
    text-decoration: underline;
    background: none;
    padding: 0rem;
    color: var(--content-link-default);
    -webkit-transition: var(--base-transition);
         -o-transition: var(--base-transition);
            transition: var(--base-transition);
}

/*Buttons*/
.nav-button {
    background: var(--background-accent-default);
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    text-decoration: none;
    color: var(--content-tertiary-default);
    -webkit-transition: var(--base-transition);
         -o-transition: var(--base-transition);
            transition: var(--base-transition);
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
}

.copy-button {
    gap: 0.5rem;
    cursor: pointer;
    background: var(--background-secondary-default);
    text-decoration: none;
    padding: 0.125rem 0.5rem;
    border-radius: 2rem;
    color: var(--content-primary-default);
    -webkit-transition: var(--base-transition);
         -o-transition: var(--base-transition);
            transition: var(--base-transition);
    vertical-align: middle;
}

.copy-button-success {
    gap: 0.5rem;
    cursor: inherit;
    background: var(--background-success-default);
    text-decoration: none;
    padding: 0.125rem 0.5rem;
    border-radius: 2rem;
    color: var(--content-tertiary-default);
    -webkit-transition: var(--base-transition);
         -o-transition: var(--base-transition);
            transition: var(--base-transition);
    vertical-align: middle;
    pointer-events: none;
}

/*List*/
.list {
    padding-left: 2rem;
    border-radius: 0rem;
}

.item-list {
    line-height: 200%;
}

.item-list::marker {
    color: var(--content-primary-default);
}

.item-list:first-child {
    margin-top: 1rem;
}

/*Tag list*/
.tag-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    max-width: 100%;
    gap: 0.5rem;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem;
}

.tag {
    width: auto;
    max-width: 100%;
    padding: 0.125rem 0.5rem; 
    border: var(--thin-line);
    border-color: var(--border-accent-default);
    border-radius: 0.25rem;
    color: var(--content-accent-default);
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

/*Info list*/
.info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    padding: 0rem;
}

.info-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0rem;
}

/*Contextual classes*/
.emoji, .icon {
    font-family: inherit;
    font-weight: inherit;
    font-style: normal;
    font-size: inherit;
    color: inherit;
}

.accent-color {
    color: var(--content-accent-default);
}

.content-secondary {
    color: var(--content-secondary-default);
}

.regular-weight {
    font-weight: var(--font-weight-regular);
}

.align-right {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

/*Content*/
footer {
    gap: 0.5rem;
    padding: 1rem 0rem 2.5rem 0rem;
}

article {
    padding: 0rem 1rem 1rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
}

section {
    padding: 2rem 0rem 2.5rem 0rem;
    border-bottom: var(--base-line);
}

.container {
    width: 100%;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.highlighted  {
    background: var(--background-secondary-default);
    padding: 4rem 4rem;
    border-radius: 1.5rem;
    margin: 2rem 0rem 2rem -4rem;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

/*Dialog*/
dialog.container {
    width: calc(100% - 8rem);
    max-width: 800px;
    gap: 1rem;
    min-height: 18rem;
}

dialog .list {
    overflow: auto;
}

dialog .item-list:last-child {
    margin-bottom: 1rem;
}

dialog[open] {
    visibility: visible;
    border-radius: 1.5rem;
    -webkit-animation: dialog-fade-in .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
            animation: dialog-fade-in .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
}

dialog {
    background-color: var(--background-secondary-default);
    color: inherit;
    margin: auto;
    border: none;
    padding: 4rem 3rem 3rem 3rem;
    overflow: hidden;
    visibility: hidden;
    -webkit-box-shadow: 0.125rem 0.125rem 2.5rem 0rem var(--overlay-primary-final-default);
       -moz-box-shadow: 0.125rem 0.125rem 2.5rem 0rem var(--overlay-primary-final-default);
            box-shadow: 0.125rem 0.125rem 2.5rem 0rem var(--overlay-primary-final-default);
    -webkit-transition: var(--base-transition) allow-discrete;
    -o-transition: var(--base-transition) allow-discrete;
    transition: var(--base-transition) allow-discrete;
    -webkit-animation: dialog-fade-out .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
            animation: dialog-fade-out .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
}

@-webkit-keyframes dialog-fade-in {
    from {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    to {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

@keyframes dialog-fade-in {
    from {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    to {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

@-webkit-keyframes dialog-fade-out {
    from {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }

    to {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }
}

@keyframes dialog-fade-out {
    from {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }

    to {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }
}

dialog::-webkit-backdrop {
    background-color: var(--overlay-primary-initial-default);
    -webkit-transition: var(--base-transition) allow-discrete;
    -o-transition: var(--base-transition) allow-discrete;
    transition: var(--base-transition) allow-discrete;
}

dialog::backdrop {
    background-color: var(--overlay-primary-initial-default);
    -webkit-transition: var(--base-transition) allow-discrete;
    -o-transition: var(--base-transition) allow-discrete;
    transition: var(--base-transition) allow-discrete;
}

dialog[open]::-webkit-backdrop {
    background-color: var(--overlay-primary-final-default);
}

dialog[open]::backdrop {
    background-color: var(--overlay-primary-final-default);
}

@starting-style {
    dialog[open]::-webkit-backdrop {
        background-color: var(--overlay-primary-initial-default);
    }
    dialog[open]::backdrop {
        background-color: var(--overlay-primary-initial-default);
    }
}

/*Especial*/
.info-list-item .basic-paragraph {
    margin: 0rem;
}

.highlighted .content-secondary {
    color: var(--content-quaternary-default);
}

main section:first-child {
    padding: 0rem 0rem 2.5rem 0rem;
}

main section:first-child article {
    padding: 0rem 0rem 1rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
}

footer nav {
    margin: 1rem 0rem 2rem 0rem;
}

footer .info-list {
    gap: 1rem;
}

/*Animation*/
section:nth-child(n+2):not(:last-child) article {
    -webkit-animation-name: scroll;
            animation-name: scroll;
    animation-timeline: view();
    animation-range-start: cover 10%;
    animation-range-end: cover 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    100% {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    100% {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

/*Media query*/
@media (hover: hover) {
    .link:hover {
        color: var(--content-link-hover);
    }

    .nav-button:hover {
        background: var(--background-accent-hover);
    }

    .copy-button:hover {
        background: var(--background-secondary-hover);
    }

    .slider:hover {
        background-color: var(--background-accent-hover);
    }
        
    .slider:hover::before {
        transform: scale(1.1);
    }


    input:checked + .slider:hover {
        background-color: var(--background-accent-hover);
    }

    input:checked + .slider:hover::before {
        transform: translateX(2rem) scale(1.1);
    }
}

@media (prefers-zenitharuced-motion) {
    * {
        -webkit-animation: none !important;
                animation: none !important;
        -webkit-transition: none !important;
             -o-transition: none !important;
                transition: none !important;
    }
}

@media only screen and (min-width: 2560px) {
    :root {
        /*size*/
        --font-size-enormous: calc((72 / 16) * 1rem);
        --font-size-bigger: calc((54 / 16) * 1rem);
        --font-size-big: calc((38 / 16) * 1rem);
        --font-size-medium: calc((30 / 16) * 1rem);
        --font-size-basic: calc((22 / 16) * 1rem);
        --font-size-small: calc((18 / 16) * 1rem);
    }

    .container {
        max-width: 1400px;
    }

    dialog.container {
        max-width: 1000px;
    }
}

@media only screen and (max-width: 768px) {
    :root {
        /*size*/
        --font-size-enormous: calc((40 / 16) * 1rem);
        --font-size-bigger: calc((30 / 16) * 1rem);
        --font-size-big: calc((24 / 16) * 1rem);
        --font-size-medium: calc((20 / 16) * 1rem);
        --font-size-basic: calc((16 / 16) * 1rem);
        --font-size-small: calc((14 / 16) * 1rem);
    }

    html {
        scrollbar-gutter: auto;
    }

    body {
        padding: 1.5rem 1rem 0rem 1rem;
    }

    section {
        padding: 1.5rem 0rem 2rem 0rem;
    }

    article {
        padding: 0rem 0rem 1rem 1rem;
    }

    .highlighted {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 2rem 1rem 2rem 1rem;
        margin-left: 0rem;
    }

    .list {
        padding-left: 1.5rem;
    }

    dialog.container {
        width: 100%;
        margin: auto 0 0 0;
        padding: 3rem 2rem 2rem 2rem;
    }

    dialog button {
        width: 100%;
    }

    dialog[open] {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }
}

@media only screen and (max-width: 560px) {
    .info-list-item {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}