/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700');

/*Variables*/
:root {
    /*weight*/
    --font-weight-regular: 400;
    --font-weight-bold: 700;

    /*size*/
    --font-size-enormous: calc((52 / 16) * 1rem);
    --font-size-bigger: calc((37 / 16) * 1rem);
    --font-size-big: calc((26 / 16) * 1rem);
    --font-size-medium: calc((22 / 16) * 1rem);
    --font-size-basic: calc((17 / 16) * 1rem);
    --font-size-small: calc((15 / 16) * 1rem);

    --letter-spacing-none: 0rem;
    --letter-spacing-small: calc((0.15 / 16) * 1rem);
    --letter-spacing-medium: calc((0.25 / 16) * 1rem);
    --letter-spacing-big: calc((0.5 / 16) * 1rem);

    /*line*/
    --base-line: calc((2 / 16) * 1rem) solid var(--border-primary-default);
    --thin-line: calc((1 / 16) * 1rem) solid var(--border-primary-default);

    /*transition*/
    --base-transition: all .2s cubic-bezier(0.4, 0, 0.4, 1);
}

/*color-schemes*/
[data-theme="light"] {
    /*lightmode-content-colors*/
    --content-primary-default: #100f0f;
    --content-secondary-default: #595454;
    --content-tertiary-default: #fffafb;
    --content-quaternary-default: #444040;

    --content-accent-default: #971130;
    --content-action-default: #100f0f;
    --content-action-hover: #100f0f;

    /*lightmode-link-colors*/
    --content-link-default: #214e83;
    --content-link-hover: #4184be;

    /*lightmode-background-colors*/
    --background-primary-default: #fffafb;
    --background-secondary-default: #f2e8eb;
    --background-secondary-hover: #d2c6c9;

    --background-success-default: #0C612E;

    --background-accent-default: #971130;

    /*lightmode-overlay-colors*/
    --overlay-primary-initial-default: rgb(16 15 15 /0%);
    --overlay-primary-final-default: rgb(16 15 15 /80%);

    /*lightmode-border-colors*/
    --border-primary-default: #e0d2d6;
    --border-secondary-default: #d2c6c9;
    --border-tertiary-default: #100f0f;

    --border-accent-default: #971130;
    --border-link-default: #214e83;
}

[data-theme="dark"] {
    /*darkmode-content-colors*/
    --content-primary-default: #f0efef;
    --content-secondary-default: #aba6a6;
    --content-tertiary-default: #0f0003;
    --content-quaternary-default: #bfbbbb;

    --content-accent-default: #f792a9;
    --content-action-default: #f0efef;
    --content-action-hover: #f0efef;

    /*darkmode-link-colors*/
    --content-link-default: #89b2e1;
    --content-link-hover: #4783b8;

    /*darkmode-background-colors*/
    --background-primary-default: #160d10;
    --background-secondary-default: #2D2023;
    --background-secondary-hover: #392D30;

    --background-success-default: #a4efc2;

    --background-accent-default: #f792a9;

    /*lightmode-overlay-color*/
    --overlay-primary-initial-default: rgb(240 239 239 /0%);
    --overlay-primary-final-default: rgb(240 239 239 /40%);

    /*darkmode-border-colors*/
    --border-primary-default: #2d2023;
    --border-secondary-default: #392d30;
    --border-tertiary-default: #f0efef;
    
    --border-accent-default: #f792a9;
    --border-link-default: #89b2e1;
}

/*Global properties*/
* {
    /*margin-reset*/
    -webkit-margin-before: 0rem;
            margin-block-start: 0rem;
    -webkit-margin-after: 0rem;
            margin-block-end: 0rem;
    -webkit-margin-start: 0rem;
            margin-inline-start: 0rem;
    -webkit-margin-end: 0rem;
            margin-inline-end: 0rem;

    /*font*/
    font-family: "Space Mono", monospace, "Geneva", Verdana, sans-serif;
}

*, *::before, *::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

*:focus, *:focus-visible {
    border-radius: inherit;
    background: inherit;
    outline: var(--base-line);
    outline-color: var(--border-tertiary-default);
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
}

html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;
}

body {
    position: relative;
    color: var(--content-primary-default);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    padding: 2.5rem 5rem 0rem 5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    background: var(--background-primary-default);
}

.scroll-fixed {
    overflow: hidden;
}

a, button, label {
    outline: var(--base-line);
    outline-color: transparent;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
    -webkit-tap-highlight-color: transparent;
}

a, button {
    cursor: pointer;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-style: inherit;
    white-space: nowrap;
}

button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    border: none;
}

/*Typefaces*/
.big-title {
    font-size: var(--font-size-enormous);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-none);
    line-height: 135%;
    font-style: normal;
}

.big-title-margin {
    margin: 2rem 0rem 1.5rem 0rem;
}

.basic-title {
    font-size: var(--font-size-bigger);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-medium);
    line-height: 135%;
    font-style: normal;
}

.basic-title-margin {
    margin: 2rem 0rem 1.5rem 0rem;
}

.small-title {
    font-size: var(--font-size-big);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-none);
    line-height: 135%;
    font-style: normal;
}

.small-title-margin {
    margin: 1rem 0rem 0.5rem 0rem;
}

.big-subtitle {
    font-size: var(--font-size-medium);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-small);
    line-height: 135%;
    font-style: normal;
}

.big-subtitle-margin {
    margin: 2.5rem 0rem 0.5rem 0rem;
}

.basic-subtitle {
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing-small);
    line-height: 150%;
    font-style: normal;
}

.basic-subtitle-margin {
    margin: 1rem 0rem 0.5rem 0rem;
}

.basic-paragraph {
    font-size: var(--font-size-basic);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-big);
    line-height: 150%;
    font-style: normal;
}

.basic-paragraph-margin {
    margin: 0rem 0rem 1rem 0rem;
}


.small-paragraph {
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-regular);
    letter-spacing: var(--letter-spacing-medium);
    line-height: 150%;
    font-style: normal;
}

h1, h2, h3, h4, h5, p {
    width: auto;
    max-width: 100%;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    font-style: inherit;
}

i, b {
    font-size: inherit;
    letter-spacing: inherit;
    line-height: inherit;
    color: inherit;
}

/*Switch*/
.theme-switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 2rem;
    width: 4rem;
    border-radius: 2rem;
}

.theme-switch input {
    display:none;
}

.slider {
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 2rem;
    width: 4rem;
    background-color: var(--background-accent-default);
    padding: 0rem 0.25rem 0rem 0.25rem;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
}

.slider:before {
    background-image: url('assets/light.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-color: var(--background-primary-default);
    content: "";
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transition: var(--base-transition);
    -o-transition: var(--base-transition);
    transition: var(--base-transition);
}

input:checked + .slider {
    background-color: var(--background-accent-default);
}

input:checked + .slider:before {
    background-image: url('assets/dark.png');
    -webkit-transform: translateX(2rem);
        -ms-transform: translateX(2rem);
            transform: translateX(2rem);
}

.slider.round, .slider.round:before {
    border-radius: 2rem;
}

/*Link*/
.link {
    display: inline-block;
    border-radius: 0.25rem;
    text-decoration: underline;
    background: none;
    padding: 0rem;
    color: var(--content-link-default);
    -webkit-transition: var(--base-transition);
         -o-transition: var(--base-transition);
            transition: var(--base-transition);
}

/*Buttons*/
.nav-button {
    background: var(--background-secondary-default);
    text-decoration: none;
    padding: 0.25rem 1rem;
    border-radius: 2rem;
    color: var(--content-action-default);
    -webkit-transition: var(--base-transition);
         -o-transition: var(--base-transition);
            transition: var(--base-transition);
}

.copy-button {
    gap: 0.5rem;
    cursor: pointer;
    background: var(--background-secondary-default);
    text-decoration: none;
    padding: 0.125rem 0.5rem;
    border-radius: 2rem;
    color: var(--content-action-default);
    -webkit-transition: var(--base-transition);
         -o-transition: var(--base-transition);
            transition: var(--base-transition);
    vertical-align: middle;
}

.copy-button-success {
    pointer-events: none;
    background: var(--background-success-default);
    color: var(--content-tertiary-default);
}

/*List*/
.list {
    padding-left: 2rem;
}

.item-list {
    line-height: 200%;
}

.item-list::marker {
    color: var(--content-primary-default);
}

.item-list:first-child {
    margin-top: 1rem;
}

/*Tag list*/
.tag-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto;
    max-width: 100%;
    gap: 0.5rem;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem;
}

.tag {
    width: auto;
    max-width: 100%;
    padding: 0.125rem 0.5rem; 
    border: var(--thin-line);
    border-color: var(--border-accent-default);
    border-radius: 0.25rem;
    color: var(--content-accent-default);
    list-style-type: none;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

/*Info list*/
.info-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    padding: 0rem;
}

.info-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1rem;
    list-style-type: none;
    margin: 0rem;
}

/*Contextual classes*/
.emoji, .icon {
    font-family: inherit;
    font-weight: inherit;
    font-style: normal;
    font-size: inherit;
    color: inherit;
}

.accent-color {
    color: var(--content-accent-default);
}

.content-secondary {
    color: var(--content-secondary-default);
}

.regular-weight {
    font-weight: var(--font-weight-regular);
}

.align-right {
    -ms-flex-item-align: end;
        align-self: flex-end;
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
}

/*Content*/
footer {
    gap: 0.5rem;
    padding: 1rem 0rem 2.5rem 0rem;
}

article {
    padding: 0rem 1rem 1rem 1rem;
    margin: 1rem 0rem 1rem 0rem;
}

section {
    padding: 2rem 0rem 2.5rem 0rem;
    border-bottom: var(--base-line);
}

.container {
    width: 100%;
    max-width: 1000px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.highlighted  {
    background: var(--background-secondary-default);
    padding: 4rem 4rem;
    border-radius: 1.5rem;
    margin: 2rem 0rem 2rem -4rem;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
}

/*Dialog*/
dialog .container {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    overflow: auto;
    margin: 1rem 0rem;
}

dialog[open] {
    border-radius: 1.5rem;
    -webkit-animation: dialog-fade-in .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
            animation: dialog-fade-in .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
}

.handler {
    display: none;
    align-self: center;
    width: 4rem;
    height: 0.5rem;
    background-color: var(--border-secondary-default);
    border-radius: 2rem;
    margin-bottom: 2rem;
}

dialog {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 800px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: calc(100% - 4rem);
    background-color: var(--background-primary-default);
    color: inherit;
    margin: auto;
    border: none;
    padding: 3rem;
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
    visibility: visible;
    overflow: hidden;
    -webkit-animation: dialog-fade-out .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
            animation: dialog-fade-out .2s cubic-bezier(0.4, 0, 0.4, 1) forwards;
}

@-webkit-keyframes dialog-fade-in {
    from {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    to {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

@keyframes dialog-fade-in {
    from {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    to {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

@-webkit-keyframes dialog-fade-out {
    from {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }

    to {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }
}

@keyframes dialog-fade-out {
    from {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        opacity: 1;
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }

    to {
        display: none;
        opacity: 0;
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }
}

dialog .big-subtitle {
    margin: 0;
}

dialog::-webkit-backdrop {
    background-color: var(--overlay-primary-initial-default);
    -webkit-transition: var(--base-transition) allow-discrete;
    -o-transition: var(--base-transition) allow-discrete;
    transition: var(--base-transition) allow-discrete;
}

dialog::backdrop {
    background-color: var(--overlay-primary-initial-default);
    -webkit-transition: var(--base-transition) allow-discrete;
    -o-transition: var(--base-transition) allow-discrete;
    transition: var(--base-transition) allow-discrete;
}

dialog[open]::-webkit-backdrop {
    background-color: var(--overlay-primary-final-default);
}

dialog[open]::backdrop {
    background-color: var(--overlay-primary-final-default);
}

@starting-style {
    dialog[open]::-webkit-backdrop {
        background-color: var(--overlay-primary-initial-default);
    }
    dialog[open]::backdrop {
        background-color: var(--overlay-primary-initial-default);
    }
}

/*Especial*/
.info-list-item .basic-paragraph {
    margin: 0rem;
}

.highlighted .content-secondary {
    color: var(--content-quaternary-default);
}

main section:first-child {
    padding: 0rem 0rem 2.5rem 0rem;
}

main section:first-child article {
    padding: 0rem 0rem 1rem 0rem;
    margin: 0rem 0rem 0rem 0rem;
}

footer nav {
    margin: 1rem 0rem 2rem 0rem;
}

footer .info-list {
    gap: 1rem;
}

/*Animation*/
section:nth-child(n+2):not(:last-child) article {
    -webkit-animation-name: scroll;
            animation-name: scroll;
    animation-timeline: view();
    animation-range-start: cover 10%;
    animation-range-end: cover 50%;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-duration: 1ms;
            animation-duration: 1ms;
}

@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    100% {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

@keyframes scroll {
    0% {
        -webkit-transform: translateY(4rem);
                transform: translateY(4rem);
    }

    100% {
        -webkit-transform: translateY(0rem);
                transform: translateY(0rem);
    }
}

/*Media query*/
@media (hover: hover) {
    .link:hover {
        color: var(--content-link-hover);
    }

    .nav-button:hover {
        background: var(--background-secondary-hover);
        color: var(--content-action-hover);
    }

    .copy-button:hover {
        background: var(--background-secondary-hover);
        color: var(--content-action-hover);
    }
}

@media (max-width: 800px) {
    :root {
        /*size*/
        --font-size-enormous: calc((40 / 16) * 1rem);
        --font-size-bigger: calc((30 / 16) * 1rem);
        --font-size-big: calc((24 / 16) * 1rem);
        --font-size-medium: calc((20 / 16) * 1rem);
        --font-size-basic: calc((16 / 16) * 1rem);
        --font-size-small: calc((14 / 16) * 1rem);
    }

    body {
        padding: 1.5rem 1rem 0rem 1rem;
    }

    section {
        padding: 1.5rem 0rem 2rem 0rem;
    }

    article {
        padding: 0rem 0rem 1rem 1rem;
    }

    .highlighted {
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 2rem 1rem 2rem 1rem;
        margin-left: 0rem;
    }

    .list {
        padding-left: 1.5rem;
    }

    dialog button {
        width: 100%;
    }

    .handler {
        display: block;
    }

    dialog {
        margin: auto 0 0 0;
        padding: 0.5rem 2rem 2rem 2rem;
    }

    dialog[open] {
        border-radius: 1.5rem 1.5rem 0rem 0rem;
    }
}

@media (min-width: 2560px) {
    :root {
        /*size*/
        --font-size-enormous: calc((72 / 16) * 1rem);
        --font-size-bigger: calc((54 / 16) * 1rem);
        --font-size-big: calc((38 / 16) * 1rem);
        --font-size-medium: calc((30 / 16) * 1rem);
        --font-size-basic: calc((22 / 16) * 1rem);
        --font-size-small: calc((18 / 16) * 1rem);
    }

    .container {
        max-width: 1400px;
    }
}

@media (prefers-reduced-motion) {
    * {
        -webkit-animation: none !important;
                animation: none !important;
        -webkit-transition: none !important;
             -o-transition: none !important;
                transition: none !important;
    }
}